<h1>Styling a Path</h1>

<p>Styles to use include</p>
<ul>
  <li>strokeColor</li>
  <li>strokeWidth</li>
  <li>fillColor</li>
</ul>
<p>Styles can be removed by setting them to null.</p>
<p>A style object can be used to set styles for a path.  It can also be used to set all styles for a canvas or project.</p>
<p>Some styling features can be applied to objects but do not use the style system.</li>
<ul>
  <li>opacity</li>
  <li>scaling</li>
  <li>rotation</li>
  <li>selected (for debugging purposes)</li>
</ul>
